<ion-view class="view-dash" view-title="Adicionar Contato">
  <ion-pane>
  <ion-content class="padding">
      <div>

        <div class="item item-dash item-input"> 
          <input type="text" placeholder="Nome completo">
        </div>
      
        <div class="item item-dash item-input">
          <input type="text" placeholder="Profissão">
        </div>

        <div class="col">
          <div class="item item-dash item-input">
            <input type="text" placeholder="Telefone">
          </div>

        <div class="col">
          <div class="item item-dash item-input">
            <input type="text" placeholder="E-mail">
          </div>
        </div>

      <div class="col">
        <div class="item item-dash item-input">
          <input type="text" placeholder="Endereço">
        </div>
      </div>

      <div class="col">
        <div class="item item-dash item-input">
          <input type="text" placeholder="Site">
        </div>
      </div>

      <div class="col">
        <div class="item item-dash item-input">
          <input type="text" placeholder="Facebook: Nome do usuário">
        </div>
      </div>

      <div class="col">
        <div class="item item-dash item-input">
          <input type="text" placeholder="Youtube: Nome do usuário">
        </div>
      </div>

      <div class="col">
        <div class="item item-dash item-input">
          <input type="text" placeholder="Twitter: Nome do usuário">
        </div>
      </div>

      <div class="col">
          <i class=”icon ion-ios-person”></i>
        <div class="item item-dash item-input">      
          <input type="text" placeholder="Github: Nome do usuário">
        </div>
      </div>

      <button class="button">Salvar</button>
    </div>

  </ion-content>
  </ion-pane>
</ion-view>
